

.container-about {
  /* height: 100%; */
  /* background-color: aqua; */
  display:flex ;
  flex-direction: column;
  align-items: center;
}
.headline{
margin-top: 10rem;
font-size: 1.5rem;
}
.slogan{
  font-size: 5vw;
}
.bio{
  display: flex;
  margin-bottom:10rem;
  margin-top:5rem;
  margin-left: 11vw;
  margin-right: 11vw;
  gap: 50px;
}
.profile-img img{
  width: 25vw;
}
.bio-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bio-headline{
  font-size: 3vw;
  font-weight: 700;
}
.bio-normal{
  font-size: 1.29vw;
}

@media screen and (max-width:700px) {



.headline{
margin-top: 10rem;
font-size: 1rem;
}

.slogan{
  font-size: 1.25rem;
  font-weight: 700;
}
.bio{
  display: flex;
  margin-top:20px;
  gap: 10px;
  flex-direction: column;
  
}
.profile-img img{
  width: 300px;
}
.bio-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bio-headline{
  font-size: 30px;
  font-weight: 700;
}
.bio-normal{
  font-size: 18px;
}

}