.scrolling-text-container {
  overflow: hidden;
  background-color: var(--background-color);
  padding: 1rem 0;
  white-space: nowrap;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.scrolling-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  display: inline-block;
}

.text-item {
  display: inline-block;
  padding: 0 1rem;
}

.dot {
  display: inline-block;
  padding: 0 2rem;
}