.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
  width: 100%;
  height: 90px;
  position: sticky;
}
.navbar-bg{
  background-color: #e9e9e9;
  transition: 0.5s;

}
.nav-menu {
  display:flex
}
.nav-menu li{
  padding: 0 1rem;
}
.nav-menu li a{
font-size: 1.2rem;
font-weight: bold;
}
.navbar a h1{
  padding-left:1rem;
}
.hamburger{
  display: none;
}

@media (max-width: 1040px) {
  .nav-menu {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #e9e9e9;
    position: absolute; /* Use 'fixed' positioning */
    top: 0;
    left: -100%; /* Move the menu off-screen */
    z-index: 3;
    transition: left 0.3s; /* Apply transition to 'left' property */
  }

  .nav-menu.active {
    left: 0; /* Move the menu into view */
  }

  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu li a {
    font-size: 2rem;
  }

  .hamburger {
    display: initial;
    padding-right: 1rem;
    z-index: 4;
  }
}
